/*
 * vacancies-tables.scss
 * -----------------------------------------------
*/
/* Medium Devices, Desktops */
.job-overview-table {
	table.dataTable {
		&.no-footer {
			border-bottom: 1px solid transparent;
		}
		thead th, thead td {
			border-bottom: 1px solid #e5e5e5;
			background-color: #f3f3f3;
		}
		thead th:first-child {
		}
		td, th {
			border-top: none;
			border-left: none;
			border-right: none;
		}
		tbody th, tbody td {
			padding: 10px 18px;
		}
		tbody td {
			font-size: 14px;
			border-bottom: 1px solid #e5e5e5;
		}
	}
	@include media-breakpoint-down(md) {
		overflow-x: auto;
	}
}