/*
 * wpml common.scss
 * -----------------------------------------------
*/
.wpml-ls-legacy-dropdown {
	background-color: transparent;
	border-color: transparent;
	.wpml-ls-current-language {
		> a {
			background-color: transparent;
			border-color: rgba(170, 170, 170, 0.32);
		}
		&:hover {
			> a {
				color: #333 !important;
			}
		}
		.wpml-ls-sub-menu {
			a {
				color: #333 !important;
			}
		}
	}
}