/*
 * header-modern.scss
 * -----------------------------------------------
*/

.modern-header {
	.header-nav {
		.header-nav-wrapper {
			&:not(.scroll-to-fixed-fixed) {
				box-shadow: none;
				nav {
					background: #222;
				}
			}
			margin-top: -35px;
			position: absolute;
			z-index: 1111;
			left: 0;
			right: 0;
			@include media-breakpoint-down(md) {
				position: relative;
				margin-top: 0;
				.container {
					padding-left: 0;
					padding-right: 0;
				}
			}
			.menuzord-menu > li {
				> a {
					@include media-breakpoint-up(lg) {
						color: #fff;
					}
				}
			}
			.menuzord-menu > li.home > a {
				padding: 20px 30px;
			}
			&.scroll-to-fixed-fixed {
				margin-top: 0;
				background: #222;
				nav {
					background: transparent;
				}
			}
		}
	}
	&:not(.modern-header-nav-autopadding) {
		.menuzord-menu > li {
			padding: 0;
			> a {
				padding: 25px 30px;
			}
		}
	}
	&.modern-header-white {
		.header-nav {
			.header-nav-wrapper {
				&:not(.scroll-to-fixed-fixed) {
					nav {
						background: #fff;
					}
				}
				.menuzord-menu > li:not(.active):not(:hover) {
					> a {
						@include media-breakpoint-up(lg) {
							color: #222;
						}
					}
				}
				&.scroll-to-fixed-fixed {
					background: #fff;
				}
			}
		}
	}
	.navbar-sticky-animated .container nav {
		@include transition(all 0.3s ease-in-out 0s);
	}
	.navbar-sticky-animated:not(.scroll-to-fixed-fixed) .container nav {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}