/*
 * shop-catalog-layouts.scss
 * -----------------------------------------------
*/
.woocommerce {
	.carousel-layout,
	.isotope-layout {
		&.products {
			.tm-woo-product-item {
				&.shop-catalog-layout-default {
					background-color: #fff;
					border: 1px solid #eee;
					@include transition(all 500ms ease 0s);
					.tm-woo-product-item-inner {
						.product-header-wrapper {
							position: relative;
							overflow: hidden;
							.product-button-holder {
								position: absolute;
								margin: 0;
								clear: both;
								opacity: 0;
								-khtml-opacity: 0;
								-webkit-opacity: 0;
								-moz-opacity: 0;
								display: inline-block;
								vertical-align: top;
								width: 100%;
								left: 0;
								right: 0;
								bottom: 0;
								text-align: center;
								z-index: 2;
								-webkit-transform: translateY(-70px);
								-ms-transform: translateY(-70px);
								transform: translateY(-70px);
								@include transition(all 500ms ease 0s);

								.yith-buttons {
									li {
										display: inline-block;
										@include box-shadow( 0px 0px 50px rgba(5, 5, 5, 0.3) );
									}
								}

								//1. quick view
								.button.yith-wcqv-button {
									display: inline-block;
									position: relative;
									margin: 0 8px 0 0;
									border: 0;
									color: #000;
									font-size: 0;
									padding: 0;
									line-height: 38px;
									height: 38px;
									width: 38px;
									vertical-align: top;

									margin: 0;
									background: #ffffff url('../images/shop/quick-view.svg') no-repeat scroll center 10px;
									background-size: 20px;
									&:hover {
									}
								}

								//2. compare button
								.compare-button {
									.compare.button {
										display: inline-block;
										position: relative;
										margin: 0;
										border: 0;
										color: #000;
										font-size: 0;
										padding: 0;
										line-height: 38px;
										height: 38px;
										width: 38px;
										vertical-align: top;
										background: #ffffff url('../images/shop/compare.svg') no-repeat scroll center 9px;
										background-size: 20px;
										padding: 0;
										width: 38px;
										height: 38px;
										vertical-align: top;
										font-size: 0px;
									}
									.compare.button:hover {
									}
								}

								//3. wishlist
								.yith-wcwl-add-to-wishlist {
									margin-top: 0;
									margin-right: 0;
									position: relative;
									a {
										display: inline-block;
										font-size: 0;
										line-height: 38px;
										position: relative;
										margin: 0;
										height: 38px;
										width: 38px;
										vertical-align: top;
										border-radius: 0px;
										background: #ffffff url('../images/shop/wish-list.svg') no-repeat scroll center 12px;
										background-size: 17px;
										&:hover {
										}
									}
									.yith-wcwl-wishlistaddedbrowse.show,
									.yith-wcwl-wishlistexistsbrowse.show {
										.feedback {
											display: none;
											font-size: 0;
											margin: 0;
											padding: 0;
											text-indent: -9999px;
										}
										a {
											&:before {
												content: '';
												background: #ffffff url('../images/shop/back.svg') no-repeat scroll center 12px;
												background-size: 16px;
												display: inline-block;
												left: 0;
												line-height: 38px;
												padding: 0;
												position: relative;
												text-align: center;
												top: 0;
												width: 38px;
												height: 38px;
											}
										}
									}
									.ajax-loading {
										left: 0;
										margin: 0 auto !important;
										position: absolute;
										right: 0px;
										top: 14px;
									}

								}

								//4. add to cart
								.tm-btn-add-to-cart {
									display: inline-block;
									position: relative;
									margin: 0 8px 0 0;
									border: 0;
									color: #000;
									font-size: 0;
									padding: 0;
									line-height: 38px;
									height: 38px;
									width: 38px;
									vertical-align: top;

									margin: 0;
									background: #ffffff url('../images/shop/shopping-cart.svg') no-repeat scroll center 10px;
									background-size: 20px;
									&.loading {
										background-image: url('../images/shop/shopping-cart-loading.svg');
									}
									&.added {
										background-image: url('../images/shop/shopping-cart-added.svg');
									}
								}
							}
						}
						.product-details {
							border-top: 1px solid rgba(240, 240, 240, 0.5);
							padding: 20px 30px;
							background-color: #fafafa;
							.product-title {
								margin-bottom: 15px;
							}
							.price {
								font-size: 18px;
							}
						}
					}
				
					&:hover {
						@include box-shadow( 0px 0px 50px rgba(5, 5, 5, 0.08) );
						.tm-woo-product-item-inner {
							.product-header-wrapper {
								.product-button-holder {
									opacity: 1;
									-khtml-opacity: 1;
									-webkit-opacity: 1;
									-moz-opacity: 1;
									-webkit-transform: translateY(-10px);
									-ms-transform: translateY(-10px);
									transform: translateY(-10px);
								}
							}
						}
					}
				}
				&.shop-catalog-layout-classic {
					text-align: center;
					.tm-woo-product-item-inner {
						.product-header-wrapper {
							position: relative;
							overflow: hidden;
							@include box-shadow( 0px 0px 50px rgba(5, 5, 5, 0.08) );
							border: 1px solid rgba(111, 111, 111, 0.18);
							background-color: #fff;
							.product-button-holder {
								position: absolute;
								margin: 0;
								clear: both;
								display: inline-block;
								vertical-align: top;
								width: 100%;
								left: 0;
								right: 0;
								bottom: 0;
								text-align: center;
								z-index: 2;

								.yith-buttons {
									li {
										@include box-shadow( 0px 0px 10px rgba(5, 5, 5, 0.1) );
										opacity: 0;
										-khtml-opacity: 0;
										-webkit-opacity: 0;
										-moz-opacity: 0;
										display: inline-block;
										-webkit-transform: translateY(70px);
										-ms-transform: translateY(70px);
										transform: translateY(70px);
										@include transition(all 500ms ease 0s);
										&:first-child {
										}
										&:nth-child(2) {
											transition-delay: 100ms;
										}
										&:nth-child(3) {
											transition-delay: 200ms;
										}
										&:nth-child(4) {
											transition-delay: 300ms;
										}
									}
								}

								//1. quick view
								.button.yith-wcqv-button {
									display: inline-block;
									position: relative;
									margin: 0 8px 0 0;
									border: 0;
									color: #000;
									font-size: 0;
									padding: 0;
									line-height: 38px;
									height: 38px;
									width: 38px;
									vertical-align: top;

									margin: 0;
									background: #ffffff url('../images/shop/quick-view.svg') no-repeat scroll center 10px;
									background-size: 20px;
									&:hover {
									}
								}

								//2. compare button
								.compare-button {
									.compare.button {
										display: inline-block;
										position: relative;
										margin: 0;
										border: 0;
										color: #000;
										font-size: 0;
										padding: 0;
										line-height: 38px;
										height: 38px;
										width: 38px;
										vertical-align: top;
										background: #ffffff url('../images/shop/compare.svg') no-repeat scroll center 9px;
										background-size: 20px;
										padding: 0;
										width: 38px;
										height: 38px;
										vertical-align: top;
										font-size: 0px;
									}
									.compare.button:hover {
									}
								}

								//3. wishlist
								.yith-wcwl-add-to-wishlist {
									margin-top: 0;
									margin-right: 0;
									position: relative;
									a {
										display: inline-block;
										font-size: 0;
										line-height: 38px;
										position: relative;
										margin: 0;
										height: 38px;
										width: 38px;
										vertical-align: top;
										border-radius: 0px;
										background: #ffffff url('../images/shop/wish-list.svg') no-repeat scroll center 12px;
										background-size: 17px;
										&:hover {
										}
									}
									.yith-wcwl-wishlistaddedbrowse.show,
									.yith-wcwl-wishlistexistsbrowse.show {
										.feedback {
											display: none;
											font-size: 0;
											margin: 0;
											padding: 0;
											text-indent: -9999px;
										}
										a {
											&:before {
												content: '';
												background: #ffffff url('../images/shop/back.svg') no-repeat scroll center 12px;
												background-size: 16px;
												display: inline-block;
												left: 0;
												line-height: 38px;
												padding: 0;
												position: relative;
												text-align: center;
												top: 0;
												width: 38px;
												height: 38px;
											}
										}
									}
									.ajax-loading {
										left: 0;
										margin: 0 auto !important;
										position: absolute;
										right: 0px;
										top: 14px;
									}

								}

								//4. add to cart
								.tm-btn-add-to-cart {
									display: inline-block;
									position: relative;
									margin: 0 8px 0 0;
									border: 0;
									color: #000;
									font-size: 0;
									padding: 0;
									line-height: 38px;
									height: 38px;
									width: 38px;
									vertical-align: top;

									margin: 0;
									background: #ffffff url('../images/shop/shopping-cart.svg') no-repeat scroll center 10px;
									background-size: 20px;
									&:hover {
									}
								}
							}
						}
						.product-details {
							border-top: 1px solid rgba(240, 240, 240, 0.5);
							padding: 15px 0 0;
							.product-title {
								margin-bottom: 15px;
							}
							.price {
								font-size: 18px;
							}
						}
					}
				
					&:hover {
						.tm-woo-product-item-inner {
							.product-header-wrapper {
								.product-button-holder {
									.yith-buttons {
										li {
											opacity: 1;
											-khtml-opacity: 1;
											-webkit-opacity: 1;
											-moz-opacity: 1;
											-webkit-transform: translateY(-10px);
											-ms-transform: translateY(-10px);
											transform: translateY(-10px);
										}
									}
								}
							}
						}
					}
				}
			}
		}
		&.shop-archive {
			.isotope-item {
			}
		}
	}
	.carousel-layout {
		&.products {
			.tm-woo-product-item {
				&.shop-catalog-layout-default {
					box-shadow: none;
					border: 1px solid #eee;
				}
			}
		}
		&.owl-carousel {
			.owl-item {
				.thumb {
					img {
						width: 100% !important;
					}
				}
			}
		}
	}
}