/*
 * shop-form.scss
 * -----------------------------------------------
*/
.woocommerce {
	.woocommerce-checkout,
	.woocommerce-MyAccount-content,
	.woocommerce-address-fields {
		.form-row {
			display: block;
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 25px;
		}
	}
}