/* --------------------------------------
$Author: ThemeMascot
$URL: https://themeforest.net/user/ThemeMascot

----------------------------------------- */
$total-theme-colors: 4;

$theme-color1: #66A1C3;
$theme-color2: #002E5B;
$theme-color3: #3E5D76;
$theme-color4: #0069BA;

@import "parts/loader";