/*
 * Shortcode: tribe-events-calendar.scss
 * -----------------------------------------------
*/

.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-] {
	background-color: $theme-color1;
}
#tribe-events-content .tribe-events-tooltip h4 {
	background-color: $theme-color1;
}
#tribe-events .tribe-events-button {
	background-color: $theme-color1;
	&:hover {
		background-color: $theme-color2;
	}
}
.tribe-events-list {
	.tribe-events-loop {
		.tribe-event-schedule-details {
			color: $theme-color1;
		}
		.tribe-event-featured {
			background-color: $theme-color1;
			.tribe-event-schedule-details {
				color: #fff;
			}
		}
	}
}
.tribe-events-event-cost span {
	background-color: $theme-color2;
	color: #fff;
}