/*
 *  common.scss
 * -----------------------------------------------
*/
.preloader-dot-loading .cssload-loading i {
	background: $theme-color1 !important;
}
blockquote {
	border-color: $theme-color1;
}
.wp-block-quote[style*="text-align:right"], .wp-block-quote[style*="text-align: right"]{
	border-color: $theme-color1;
}
.scrollToTop {
	background: rgba($theme-color1, .20);
	&:hover {
		background: rgba($theme-color1, .90);
	}
}