/*
 * Shortcode: common.scss
 * -----------------------------------------------
*/
.tm-sc-blog {
	&.blog-style1-current-theme {
		article {
			.entry-header {
				.link {
					background: $theme-color1;
				}
			}
			.entry-content {
				.post-single-meta {
					background: $theme-color1;
					&:hover {
						background: $theme-color2;
					}
				}
			}
		}
	}
	&.blog-style1-current-theme2 {
		article {
			.entry-header {
				.link {
					background: $theme-color1;
				}
			}
			.entry-content {
				.post-single-meta {
					background: $theme-color1;
					&:hover {
						background: $theme-color2;
						color: #fff;
					}
				}
				.entry-meta {
					i {
						color: $theme-color1;
					}
				}
			}
		}
	}
}