/*
 * blog.scss
 * -----------------------------------------------
*/
article {
	.entry-content {
		.post-content,
		.post-excerpt {
			a:not(.btn):not(.styled-icons-item):not(.wp-block-button__link):not(.wp-block-button__link), p a:not(.btn):not(.styled-icons-item):not(.wp-block-button__link):not(.wp-block-button__link) {
				&:hover {
				}
			}
		}
	}
	.box-hover-effect {
		.thumb {
			text-align: center;
		}
	}
}
body.blog {
	.blog-posts {
		.main-content-area {
			article {
				margin-bottom: 3rem;
			}
			.row {
				> div:last-child {
					article {
						margin-bottom: 0;
					}
				}
			}
			.post.sticky {
				background: #fff;
				border: 3px solid #eee;
				.entry-content {
					background: #fff;
				}
			}
		}
	}
}
.main-content-area {
	article {
		.entry-title {
			a {
			}
		}
		.entry-meta {
			font-size: 14px;
			margin-bottom: 1rem;
			color: #9a9a9a;
			font-weight: normal;
			text-transform: uppercase;
			li:first-child {
				padding-left: 0;
			}
			i {
				margin-right: 5px;
			}
			a,
			.sl-wrapper span {
				color: #9a9a9a;
				font-weight: normal;
			}
		}
		.post-excerpt {
			margin-bottom: 20px;
			.mascot-post-excerpt {
				font-size: 1rem;
			}
		}
	}
	.post-thumb {
	}
	.pagination {
		margin-top: 40px;
	}
}
.blog-posts {
	.main-content-area {
		article {
			@include box-shadow( 0px 0px 50px rgba(5, 5, 5, 0.08) );
			-webkit-transition: all .3s cubic-bezier(.70,.04,.37,1);
			transition: all .3s cubic-bezier(.70,.04,.37,1);
			.entry-header {
				position: relative;
				-webkit-transform: translateY(0);
				-ms-transform: translateY(0);
				transform: translateY(0);
				-webkit-transition: all .3s cubic-bezier(.70,.04,.37,1);
				transition: all .3s cubic-bezier(.70,.04,.37,1);
				.thumb {
					border-radius: 7px 7px 0 0;
				}
				.link {
					background: #333;
					position: absolute;
					left: 0;
					top: 45%;
					right: 0;
					height: 50px;
					width: 50px;
					color: #fff;
					padding: 10px;
					text-align: center;
					margin: 0 auto;
					z-index: 1;
					opacity: 0;
					@include transition(all .4s ease-in-out);
				}
			}
			.entry-content {
				padding: 30px;
				background-color: #fff;
				position: relative;
				.post-single-meta {
					background: #242424;
					color: #fff;
					display: inline-block;
					padding: 8px 20px;
					margin-bottom: 20px;
					font-size: 10px;
					text-transform: uppercase;
					letter-spacing: 1px;
					z-index: 1;
					@include transition(all .3s ease);
					i {
						display: none;
					}
					a {
						color: #fff;
					}
				}
				.entry-title {
					margin-top: 0;
					margin-bottom: 0.7rem;
				}
				.post-excerpt {
					margin-bottom: 20px;
					border-bottom: 1px solid #eee;
					padding-bottom: 20px;
					font-size: 1rem;
					.mascot-post-excerpt {
						font-size: 1rem;
					}
				}
				.entry-meta {
					font-size: 0.9rem;
					margin-bottom: 1.2rem;
					color: #999;
				}
				.post-btn-readmore {
					float: left;
					.btn-plain-text {
						color: #F89D35;
						font-size: 12px;
						&:hover, &:focus {
							color: #000;
						}
					}
				}
			}
			&:hover {
				box-shadow: 0 20px 30px rgba(0,0,0,.15);
				.entry-header {
					-webkit-transform: translateY(-10px);
					-ms-transform: translateY(-10px);
					transform: translateY(-10px);
					.link {
						opacity: 1;
						transform: rotateY(180deg);
					}
				}
			}
		}
	}
}
.blog-posts {
	.main-content-area {
		.isotope-layout .isotope-item {
			article {
				margin-bottom: 0;
			}

		}
	}
}
pre {
	background-color: #f0f5fc;
	border: 1px solid #e5eaf1;
	padding: 20px;
}
code {
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
}
@include media-breakpoint-up(md) {
.post-standard-1col-classic {
	.entry-header {
		border-radius: 2px;
		float: left;
		margin-right: 25px;
		width: 45%;
	}
}
}


/* Top Nav Search Button & Form */
#top-nav-search-btn {
	.search-icon {
		color: $headings-nav-side-icons-color;
		font-size: 18px;
		line-height: 1;
		padding: 3px;
		&:hover {
			color: #888;
		}
	}
	@include media-breakpoint-down(lg) {
		margin-top: 12px;
	}
}
#top-nav-search-form {
	background: #fff;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99991;
	form {
		margin-bottom: 0;
	}

	input[type="text"] {
		background: transparent;
		border: medium none;
		border-radius: 0;
		box-shadow: none;
		color: #292929;
		font-size: 24px;
		height: 100%;
		left: 15px;
		line-height: normal;
		outline: medium none;
		padding: 0;
		position: absolute;
		top: 0;
		vertical-align: middle;
		width: 90%;
		@include media-breakpoint-down(lg) {
			font-size: 18px;
			width: 80%;
		}
	}
	#close-search-btn {
		color: #bbbbbb;
		float: right;
		font-size: 28px;
		line-height: 75px;
		margin: 0 15px 0 0;
		padding: 0;
		&:hover {
			color: #555;
		}
		@include media-breakpoint-down(lg) {
			line-height: 60px;
		}
	}
}

body.blog,
body.archive {
	.main-content-area {
		article {
			.entry-meta {
				.posted-date {
					display: none;
				}
			}
		}
	}
}