/*
 * post-format.scss
 * -----------------------------------------------
*/
body:not(.single) {
	article {
		&.format-link {
			padding: 50px 30px;
			background-color: #fdfdfd;
			text-align: center;
			border: 1px solid rgba(222, 222, 222, 0.3);
			.link-content {
				height: 100%;
				display: table;
				.link-content-wrapper {
					height: 100%;
					display: table-cell;
					vertical-align: middle;
					.title {
						margin-bottom: 20px;
						line-height: 1.5;
					}
					.link {
						color: #999;
					}
					.link-url {
						position: absolute;
						display: block;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						z-index: 2;
					}
				}
			}
			&:after {
				content: "";
				background: url('../images/blog/link.png') no-repeat;
				opacity: 0.10;
				position: absolute;

				right: 0;
				top: 30px;
				margin: 0 auto;
				left: 0;

				width: 100px;
				height: 100px;
				@include transition(all .3s ease-in-out);
			}
		}
		&.format-quote {
			background-color: #fdfdfd;
			padding: 50px 30px;
			text-align: center;
			border: 1px solid rgba(222, 222, 222, 0.3);
			.quote-content {
				height: 100%;
				display: table;
				.quote-content-wrapper {
					height: 100%;
					display: table-cell;
					vertical-align: middle;
					blockquote {
						border: none;
						.quote {
							margin-bottom: 20px;
							line-height: 1.5;
						}
						footer {
							font-size: 0.9rem;
							color: #999;
						}
						&:before {
							color: rgba(250, 250, 250, 0.7);
							content: "\f10e";
							display:none;
							font-family: fontawesome;
							font-size: 7rem;
							line-height: 1;
							opacity: 0.20;
							position: absolute;
							bottom: 0;
							right: 7px;
							transform: rotate(180deg);
						}
					}
				}
			}
			&:after {
				content: "";
				background: url('../images/blog/quote.png') no-repeat;
				opacity: 0.10;
				position: absolute;

				right: 0;
				top: 30px;
				margin: 0 auto;
				left: 0;

				width: 100px;
				height: 100px;
				@include transition(all .3s ease-in-out);
			}
		}
	}
}